.shirt-modal {
    .modal-shirt-wrapper {
        max-height: 100%;
        width: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .shirt {
            width: 80%;
            left: 10%;
            position: relative;
        }
        .sketch {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
            z-index: 10;
        }
    }
    .modal-shirt-text-wrapper {
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translate(-50%, -50%);
        a {
            text-decoration: none;
        }
        button {
            display: block;
            margin-top: 20px;
            //style
            color: white;
            background: black;
            border: none;
            padding: 10px 20px;
            //transition
            transition: box-shadow .2s ease, color .2s ease, background .2s ease;
            &:hover {
                color: black;
                background: white;
                box-shadow: 0 0 0 3px black;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.size-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 10px;
    color: black;
    background: white;
    box-shadow: 0 0 0 3px black;
    cursor: pointer;
    transition: color .2s ease, background .2s ease;
    &.selected {
        color: white;
        background: black;
    }
}
